@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-dot {
  pointer-events: none;
  mix-blend-mode: difference;
}

.particle {
  pointer-events: none;
  position: fixed;
  background: currentColor;
  border-radius: 50%;
}